<div
  class="lg:w-full lg:flex lg:justify-center lg:gap-32 lg:p-4 lg:border-b ms:w-full ms:flex sm:w-full sm:flex"
>
  <div class="flex gap-4">
    <button
      nz-button
      [nzLoading]="this.preserveGarageState.isRaceButtonLoading"
      class="border px-4"
      (click)="race()"
      [disabled]="this.preserveGarageState.raceInProgress"
    >
      Race
    </button>
    <button
      nz-button
      [nzLoading]="this.preserveGarageState.isResetButtonLoading"
      class="border px-4"
      (click)="reset()"
      [disabled]="!this.preserveGarageState.raceInProgress"
    >
      Reset
    </button>
  </div>
  <div class="">
    <app-create-car-form (carCreated)="loadData()"></app-create-car-form>
  </div>
  <div class="">
    <app-update-car-form
      [carId]="selectedCarId"
      (carUpdated)="loadData()"
    ></app-update-car-form>
  </div>
  <div class="flex">
    <button
      class="border px-4"
      nz-button
      nzType="primary"
      (click)="generateRandomCars()"
      [nzLoading]="this.preserveGarageState.isGenerateButtonLoading"
    >
      Generate Cars
    </button>
  </div>
</div>
<div class="relative">
  <div class="p-4" *ngFor="let car of cars">
    <app-car
      [carData]="car"
      (selectedCarId)="onCarSelected($event)"
      (carRemoved)="loadData()"
    ></app-car>
  </div>
  <h1
    style="width: 200px; z-index: 1; opacity: 0.5"
    class="transform rotate-90 origin-bottom-right absolute top-1/2 right-10 mr-32 whitespace-nowrap bg-white py-2 px-4 text-xl text-center border-b"
  >
    Finish
  </h1>
</div>
<div class="flex justify-center pb-8">
  <h1 class="text-xl pr-8">
    GARAGE({{ this.paginationService.totalNumberOfCarRecords }})
  </h1>
  <nz-pagination
    [nzPageIndex]="paginationService.currentGaragePage"
    [nzTotal]="paginationService.totalNumberOfCarRecords"
    [nzPageSize]="paginationService.carRecordsPerPage"
    (nzPageIndexChange)="onPageChange($event)"
  >
  </nz-pagination>
</div>
